:root {
  --border-color: #4d4d4d;
  --border-radius: 20px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  height: 100%;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 95%;
  height: 95%;
  padding: 40px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
}

button {
  border: 0;
  padding: 0;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

h1 {
  margin: 0;
  font-size: 1em;
}
